<mat-card *ngFor="let item of items">
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item.imageUrl" alt="{{ item.name }}">
  <mat-card-content>
    <p>{{ item.description }}</p>
    <button mat-button (click)="likeItem(item.id)">Like</button>
    <button mat-button (click)="visitItem(item.id)">Visit</button>
  </mat-card-content>
</mat-card>
<mat-paginator [length]="totalItems" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>
